.btn {
    width: 135px;
    height: 45px;
    border-radius: 5px;
    border: none;
    background: $main_color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    text-align: center;
    padding: 12px 26px;
    transition: 0.5s all;
    &:hover {
        border: 2px solid $sub_color;
        border-radius: 5px;
        box-shadow: 2px 2px 0px #ffffff, -1px -1px 0px #b6b6b6;
    }
    &__contacts {
        width: 219px;
        height: 45px;
        border: none;
        &:hover {
            border: 2px solid $sub_color;
            border-radius: 5px;
            box-shadow: -2px -2px 0px #ffffff, 2px 2px 0px #b6b6b6;
        }
    }
}