@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}


@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .promo {
        background-position-x: 20%;
    }
    .about {
        &__wrapper {
            grid-template-columns: 337px 480px;
            grid-template-rows: 204px 301px;
            column-gap: 58px;
        }
        &__tittle {
            line-height: 50px;
            font-size: 32px;
        }
        &__text {
            line-height: 18px;
            margin-top: 13px;
            font-size: 12px;
            &_fz12 {
                font-size: 10px;
            }
        }
        &__skills {
            grid-template-columns: repeat(2, 230px);
            grid-template-rows: repeat(2, 120px);
            gap: 20px;
        }
    }
    .resume {
        padding-top: 70px;
        &__wrapper {
            padding: 0px 75px;
            grid-template-columns: repeat(2, 360px);
            column-gap: 90px;
        }
    }
    .skills {
        &__wrapper {
            padding: 0px 63px;
            grid-template-columns: repeat(3, 270px);
            grid-template-rows: repeat(3, 270px);
        }
        &__load-wrapper {
            padding: 0px 63px;
            grid-template-columns: repeat(2, 394px);
            grid-template-rows: repeat(3, 70px);
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            justify-content: space-around;
            row-gap: 20px;
            .vertical {
                grid-column: unset;
                grid-row: unset;
            }
            .horizontal {
                grid-column: unset;
                grid-row: unset;
            }
        }
    }
    .price-list {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 370px);
            grid-auto-rows: 45px;
            column-gap: 0px;
            justify-content: space-between;
        }
    }
    .contacts {
        &__wrapper {
            padding: 0px 30px;
            grid-template-columns: 350px 500px;
        }
        &__photo {
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__form {
            grid-template-columns: repeat(auto-fit, 280px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .promo {
        background-position-x: 33%;
    }
    .about {
        &__wrapper {
            padding: 0;
            grid-template-columns: 220px 480px;
            grid-template-rows: 220px 312px;
            column-gap: 20px;
        }
        &__tittle {
            font-size: 26px;
            line-height: 40px;
        }
        &__text {
            line-height: 18px;
            font-size: 14px;
            &_fz12 {
                line-height: 16px;
            }
        }
        &__skills {
            grid-template-columns: 450px;
            grid-template-rows: repeat(3, 89px);
            gap: 2px;
        }
        &__item {
            display: grid;
            grid-template-columns: 40px 390px;
            gap: 20px;
        }
    }
    .resume {
        padding-top: 50px;
        &__wrapper {
            padding: 0px 30px;
            grid-template-columns: repeat(2, 315px);
            column-gap: 30px;
        }
    }
    .skills {
        &__wrapper {
            padding: 0px 84px;
            grid-template-columns: repeat(2, 270px);
            grid-template-rows: repeat(4, 270px);
        }
        &__load-wrapper {
            padding: 0px 84px;
            grid-template-columns: repeat(2, 253px);
        }
    }
    .price-list {
        &__wrapper {
            justify-content: space-around;
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 1fr;
            justify-content: center;
        }
        &__photo {
            display: none;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .promo {
        background-position-x: 40%;
        &__tittle {
            width: 300px;
            font-size: 30px;
            line-height: 38px;
        }
        &__btns {
            margin-top: 20px;
        }
    }
    .about {
        padding: 40px 0;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 440px auto auto;
            gap: 0;
        }
        &__foto {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        &__info {
            margin-top: 46px;
            grid-column: 2 / 3;
        }
        &__tittle {
            font-size: 24px;
            line-height: 36px;
        }
        .divider {
            margin-top: 15px;
        }
        &__skills {
            margin-top: 20px;
            grid-template-columns: auto;
            grid-template-rows: repeat(3, auto);
            gap: 20px;
        }
        &__item {
            grid-template-columns: 40px auto;
        }
        &__text {
            font-size: 14px;
            line-height: 21px;
            &_fz12 {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 0;
            grid-template-columns: auto;
            margin-top: 40px;
            row-gap: 40px;
        }
    }
    .skills {
        padding-top: 40px;
        &__wrapper {
            padding: 0px 134px;
            grid-template-columns: repeat(1, 270px);
            grid-template-rows: repeat(7, 270px);
        }
        &__load-wrapper {
            padding: 0px 100px;
            grid-template-columns: repeat(1, 339px);
        }
    }
    .portfolio {
        padding-top: 40px;
        &__wrapper {
            justify-content: center;
            margin-top: 40px;
        }
    }
    .contacts {
        &__form {
            grid-template-columns: repeat(auto-fit, 230px);
            justify-content: space-between;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0px 15px;
    }
    .divider {
        margin-top: 25px;
    }
    .tittle {
        &_fz16 {
            font-size: 16px;
        }
        &_fz36 {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .promo {
        background-position-x: 45%;
        &__wrapper {
            width: auto;
        }
        &__tittle {
            width: 100%;
            font-size: 26px;
        }
        &__btns {
            margin-top: 32px;
        }
        .hamburger {
            right: 20px;
        }
    }
    .menu {
        &__block {
            width: 245px;
            padding-top: 150px;
            padding-left: 20px;
        }
    }
    .resume {
        &__subtittle {
            font-size: 24px;
        }
    }
    .skills {
        &__wrapper {
            padding: 0px 10px;
            margin-top: 20px;
            justify-content: center;
        }
        &__load-wrapper {
            padding: 0;
            grid-template-columns: repeat(1, 290px);
            margin-top: 40px;
            justify-content: center;
        }
    }
    .price-list {
        padding-top: 40px;
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 275px);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns: 1fr;
            justify-content: center;
        }
        &__form {
            grid-template: 45px 45px 140px / repeat(auto-fit, 300px);
            justify-content: start;
            grid-auto-rows: 45px;
        }
        &__textarea {
            grid-column: unset;
        }
    }
}

@media (max-width: 320px) {
    .price-list {
        &__wrapper {
            justify-content: end;
        }
    }
}